* {
  all: unset;
}

background {
  background-color: transparent;
}

tooltip {
  background-color: #14171c;
  color: #b8bfe5;
  font-family: Inconsolata SemiCondensed Medium;
  font-weight: Bold;
  font-size: 1rem;
}

@import "colors.scss";
@import "player/eww.scss";
@import "powermenu/eww.scss";
@import "calendar/eww.scss";
@import "color-picker/eww.scss";
@import "profile-card/eww.scss";
@import "pomodoro/eww.scss";