// 按键绑定
binds {

    // Mod+Shift+/, 即 Mod+?, 显示快捷键帮助
    Mod+Shift+Slash { show-hotkey-overlay; }

    // 运行程序的快捷键建议: 终端、应用启动器、锁屏
    Mod+T hotkey-overlay-title="打开终端" { spawn "alacritty"; } // kitty | alacritty
    Mod+Space hotkey-overlay-title="程序" { spawn "fuzzel"; } // fuzzel
    Super+Alt+L hotkey-overlay-title="锁屏" { spawn "swaylock"; } //swaylock
    Mod+E hotkey-overlay-title="文件" { spawn "nautilus"; }
    Mod+Tab hotkey-overlay-title="切换" { spawn "~/.config/niri/scripts/switch-window.sh"; }
    // Mod+O { spawn "~/.config/waybar/scripts/clipboard.sh"; }

    // 兼容 X11 的剪贴板
    // Mod+Ctrl+C { spawn "sh" "-c" "env DISPLAY=:0 xsel -ob | wl-copy"; }
    // Mod+Ctrl+V { spawn "sh" "-c" "wl-paste -n | env DISPLAY=:0 xsel -ib"; }

    // 也可以使用 shell:
    // Mod+T { spawn "bash" "-c" "notify-send hello && exec alacritty"; }

    // PipeWire & WirePlumber 的音量键映射
    // allow-when-locked=true 属性使锁屏时也可触发
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+" "&& ~/.config/niri/scripts/wp-vol.sh";
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-" "&& ~/.config/niri/scripts/wp-vol.sh";
    }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle" "&& ~/.config/niri/scripts/wp-vol.sh"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle" "&& ~/.config/niri/scripts/wp-vol.sh"; }
    XF86AudioPlay        allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPause       allow-when-locked=true { spawn "playerctl" "play-pause" ; }
    XF86AudioNext        allow-when-locked=true { spawn "playerctl" "next"; }

    // XF86AudioMute { spawn "bash" "-c" "pactl set-sink-mute @DEFAULT_SINK@ toggle && notify-send -c \"system\" \" $(pactl get-sink-mute @DEFAULT_SINK@)\""; }
    // XF86AudioRaiseVolume { spawn "bash" "-c" "pactl set-sink-volume @DEFAULT_SINK@ +5%  && notify-send -c \"system\" \" $(pactl get-sink-volume @DEFAULT_SINK@ | head -1 | tr -s ' ' | cut -d ' ' -f1,5)\""; }
    // XF86AudioLowerVolume { spawn "bash" "-c" "pactl set-sink-volume @DEFAULT_SINK@ -5%  && notify-send -c \"system\" \" $(pactl get-sink-volume @DEFAULT_SINK@ | head -1 | tr -s ' ' | cut -d ' ' -f1,5)\""; }
    // XF86MonBrightnessDown { spawn "bash" "-c" "brightnessctl -c backlight set 1- && notify-send -c \"system\" \" Brightness: $(brightnessctl -m | cut -d',' -f4)\""; }
    // XF86MonBrightnessUp { spawn "bash" "-c" "brightnessctl -c backlight set +1 && notify-send -c \"system\" \" Brightness: $(brightnessctl -m | cut -d',' -f4)\""; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    // 替代命令: 到达列的首个或最后一个窗口时跨工作区移动
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // 另一种方式: 移动单个窗口
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // 还可以移动整个工作区到另一个显示器:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    // 另一种方式: 移动单个窗口
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }


    // 可以使用以下语法绑定鼠标滚轮滚动
    // 这些快捷键会根据 natural-scroll 设置改变方向
    //
    // 为避免工作区切换过快，可以使用 cooldown-ms 属性
    // 快捷键将限制在此值的时间间隔内触发
    // 可以为任何快捷键设置冷却时间，滚轮最有用
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // 通常在应用程序中 Shift+上下滚动会变成水平滚动; 这些快捷键复现了这种行为
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // 同样可以绑定触控板滚轮 "点击"
    // 触控板滚动是连续的，所以这些快捷键会被分割成离散的间隔
    // 这些快捷键也受触控板 natural-scroll 影响
    // 示例快捷键是 "反向" 的，因为我们默认启用了 natural-scroll
    // Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    // Mod+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }

    // 可以按索引引用工作区。但请注意，niri 是动态工作区系统
    // 这些命令是 "尽力而为"。尝试引用大于当前工作区数量的索引
    // 将改为引用最底部的（空）工作区
    //
    // 例如，有 2 个工作区 + 1 个空工作区，索引 3、4、5 等都将指向第 3 个工作区
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // 另一种方式: 移动单个窗口
    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // 在当前和上一个工作区之间切换焦点
    // Mod+Tab { focus-workspace-previous; }

    // 以下快捷键将焦点窗口移入或移出列
    // 如果窗口单独存在，会被合并到旁边的列中
    // 如果窗口已经在列中，会被 expel 出
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // 将右边的一个窗口消费到底部列中
    Mod+Comma  { consume-window-into-column; }
    // 将底部窗口 expel 出列到右边
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // 展开焦点列以占据其他完全可见列未占用的空间
    // 让列 "填充剩余空间"
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    // 精细的宽度调整
    // 此命令还可以:
    // * 以像素设置宽度: "1000"
    // * 以像素调整宽度: "-5" 或 "+5"
    // * 以屏幕宽度百分比设置宽度: "25%"
    // * 以屏幕宽度百分比调整宽度: "-10%" 或 "+10%"
    // 像素大小使用逻辑或缩放像素。例如，在缩放 2.0 的输出上
    // set-column-width "100" 将使列占用 200 个物理屏幕像素
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // 当列中有其他窗口时，更精细的高度调整
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // 在浮动和平铺布局之间移动焦点窗口
    // Mod+V       { toggle-window-floating; }
    Mod+V hotkey-overlay-title="浮动切换"  { spawn "~/.config/niri/scripts/floating.sh"; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // 切换选项卡列显示模式
    // 此列中的窗口将显示为垂直选项卡，而不是堆叠在一起
    Mod+W { toggle-column-tabbed-display; }

    // 切换布局的操作
    // 注意: 如果取消注释这些，请确保在上方的 xkb 选项中没有配置
    // 相同的布局切换快捷键。同时使用两者会破坏切换功能
    // 因为按下快捷键时会切换两次（一次由 xkb，一次由 niri）
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // 远程桌面客户端和软件 KVM 开关等应用程序可能
    // 请求 niri 停止处理此处定义的键盘快捷键
    // 以便它们可以按原样转发按键到远程机器
    // 绑定一个紧急开关来切换快捷键抑制是个好主意
    // 这样有问题的应用程序就不会劫持你的会话
    //
    // allow-inhibiting=false 属性也可以应用到其他快捷键
    // 确保即使在激活抑制器时 niri 始终处理它们
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // quit 操作会显示确认对话框以避免意外退出
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    // 关闭显示器。再次打开需要任何输入
    // 如移动鼠标或按任何键
    Mod+Shift+P { power-off-monitors; }
}
