// 本配置文件使用 KDL 格式: https://kdl.dev
// "/-" 用于注释掉下一个节点
// 完整配置说明请查看 Wiki:
// https://niri-wm.github.io/niri/Configuration%3A-Introduction.html
// https://niri-wm.github.io/niri/Configuration%3A-Include.html

include "startup.kdl"
include "misc.kdl"
include "input.kdl"
include "outputs.kdl"
include "workspaces.kdl"
include "layout.kdl"
include "animations.kdl"
include "binds.kdl"
include "window.kdl"

// dms
// include "dms/windowrules.kdl"
