// 本配置文件使用 KDL 格式: https://kdl.dev
// "/-" 用于注释掉下一个节点
// 完整配置说明请查看 Wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

include "startup.kdl"
include "window.kdl"
include "bindkey.kdl"

// Workspace Named
// 空间命名
// https://github.com/YaLTeR/niri/wiki/Configuration:-Named-Workspaces
workspace "def"
workspace "dev"
workspace "writer"

// 默认启动
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-at-startup

// 截图保存路径 niri 自带的截图
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// 省略客户端装饰
prefer-no-csd

// 兼容处理
// niri msg action spawn xwayland-satellite
spawn-at-startup "xwayland-satellite"
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous
// 环境变量覆盖
environment {
    DISPLAY ":0"
}

// 鼠标
cursor {
    // xcursor-theme "breeze_cursors"
    // xcursor-size 48 
    hide-when-typing // 键入时候自动隐藏
    hide-after-inactive-ms 10000 // n毫秒后自动隐藏 
}

// 剪贴板
clipboard { }

// 隐藏热键帮助
hotkey-overlay {
    skip-at-startup
}

// 输入设备
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {
            layout "us"
        }
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
    }

    tablet {
        map-to-output "DP-3"
    }
}

// 先使用 `niri msg outputs` 检查输出名称和支持的modes
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
output "DP-3" {
    // off
    mode "2560x1440@119.998"
    // scale 1.2
    transform "normal"
    // position x=1280 y=0
}

// 默认布局
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    gaps 10 // 窗口间隙，像素单位
    always-center-single-column // 单列居中
    // empty-workspace-above-first // 第一个空间留空
    center-focused-column "never" // 焦点窗口居中
    
    // 预设列宽，使用 (Mod+R) 按照顺序变动
    preset-column-widths {
        // 默认预设宽度为输出的 1/3、1/2 和 2/3
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; } // 默认列宽

    // 焦点环绕
    focus-ring {
        // off
        width 4

        // 颜色设置方式:
        // - CSS 颜色名: "red"
        // - RGB 十六进制: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS 样式: "rgb(255, 127, 0)", rgba(), hsl() 等

        active-color "#7fc8ff"
        inactive-color "#505050" // 非焦点窗口

        // 渐变色
        // active-gradient from="#c792ea" to="#89ddff" angle=90 relative-to="window" in="oklab"
        active-gradient from="red" to="orange" angle=45 in="oklch longer hue"
        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // 边框
    border {
        off
        width 4

        active-color "#ffc87f"
        inactive-color "#505050"

        active-gradient from="#F97316" to="#A855F7" angle=45 relative-to="workspace-view"
        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // 窗口阴影
    shadow {
        on

        softness 30 // 柔和度
        spread 5 // 距离
        offset x=0 y=5 // 偏移
        draw-behind-window true // 绘制在窗口后面  
        color "#00000070"
    }

    // 窗口选项卡 （Mod+W) 切换列显示模式
    tab-indicator {
        // off
        
        hide-when-single-tab // 单窗口隐藏
        place-within-column  // 内部放置
        gap 5                // 间距
        width 5              // 宽度
        length total-proportion=0.5 // 总长度比例
        position "left"      // 位置 left, right, top, bottom 
        gaps-between-tabs 2  // 选项卡间隔
        corner-radius 8      // 圆角
        // active-color "red"
        // inactive-color "gray"
        // active-gradient from="#80c8ff" to="#bbddff" angle=45
        // inactive-gradient from="#505050" to="#808080" angle=45  relative-to="workspace-view"
    }

    insert-hint {
        // off
        color "#ffc87f80"
        // gradient from="#ffbb6680" to="#ffc88080" angle=45 relative-to="workspace-view"
    }

    // 屏幕边距设为0，最大化利用空间（可根据喜好调整）
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
}

// 切换事件
// https://github.com/YaLTeR/niri/wiki/Configuration:-Switch-Events
switch-events { }

// 动画效果 (v1.5+)
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
    // off
    // slowdown 3.0

    // 曲线支持: ease-out-quad, ease-out-cubic, ease-out-expo, linear

    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }   

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
}

