// 截图保存路径 niri 自带的截图
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// 省略客户端装饰
prefer-no-csd

// 兼容处理 , sddm 会占用 ":0" , gdm 不需要
// niri msg action spawn xwayland-satellite
// spawn-at-startup "xwayland-satellite" ":1"
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous
//
// niri 25 已经自动启动 xwayland-satellite, 不需要手动启用
// 环境变量覆盖
environment {
    DISPLAY ":1"
    GSK_RENDERER "gl" // gtk4
}

// 鼠标
cursor {
    // xcursor-theme "breeze_cursors"
    // xcursor-size 48
    hide-when-typing // 键入时候自动隐藏
    hide-after-inactive-ms 10000 // n毫秒后自动隐藏
}

// 剪贴板
clipboard { }

// 隐藏热键帮助
hotkey-overlay {
    skip-at-startup
    // hide-not-bound
}

// 切换事件
// https://github.com/YaLTeR/niri/wiki/Configuration:-Switch-Events
switch-events { }


config-notification {
    disable-failed
}

blur {
    // off
    passes 3
    offset 3.0
    noise 0.02
    saturation 1.5
}

// mod+o
// 缩放 hot cornner
overview {
    zoom 0.25
    backdrop-color "#333333"
}

// hot cornner 快捷角落 
gestures {
    dnd-edge-view-scroll {
        trigger-width 30
        delay-ms 100
        max-speed 1500
    }

    dnd-edge-workspace-switch {
        trigger-height 50
        delay-ms 100
        max-speed 1500
    }

    hot-corners {
        // off
        top-left
        // top-right
        // bottom-left
        // bottom-right
    }
}

// alt-tab
// https://niri-wm.github.io/niri/Configuration%3A-Recent-Windows.html#overview
recent-windows {
    // off
    debounce-ms 750

    open-delay-ms 150

    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        padding 30
        corner-radius 10
    }

    previews {
        max-height 480
        max-scale 0.5
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }

        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
        Mod+grave       { next-window     filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
}

