// 使用 ~/.config/systemd/user/niri.service.wants 创建 ln 服务链接

// 输入法
spawn-at-startup "fcitx5" "-d"
// xwayland

spawn-at-startup "anyrun" "daemon" // --> systemed user

// spawn-at-startup "waybar" // --> systemed user
// spawn-at-startup "way-edges daemon" // --> systemd user

// 壁纸
// spawn-at-startup "eww daemon" // --> systemd user

// spawn-at-startup "awww-daemon" // --> systemd user
// spawn-at-startup "awww img ~/Pictures/wallpaper/ws11.jpg"

// 使用 quickshell noctalia-shell
// spawn-at-startup "qs" "-c" "noctalia-shell"
