
// 窗口规则
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
window-rule {
    geometry-corner-radius 10 // 圆角
    clip-to-geometry true // 裁剪
    draw-border-with-background false // 支持窗口透明无背景，关联layout 的 focus-ring 和 border
}

// 浮动未激活透明处理
window-rule {
    match is-floating=true is-active=false
    opacity 0.85
    focus-ring {
        inactive-color "#1E88E5"
    }
}

// window-rule {
//     match is-active=false app-id="Alacritty"
//     opacity 0.9
// }

window-rule {
    match app-id="wlroots"
    open-maximized true
}

// 特定窗口宽度设定
window-rule {
    match app-id="org.gnome.Decibels"
    match app-id="io.bassi.Amberol"
    match app-id="Waydroid"

    default-column-width { fixed 500; }
    // default-window-height { fixed 400; }
}

window-rule {
    match app-id="io.gitlab.idevecore.Pomodoro" title="Pomodoro"

    open-floating true
    default-column-width { fixed 500; }
    default-window-height { fixed 400; }
}

// 窗口浮动
window-rule {
    match app-id="firefox" title="^Picture-in-Picture$"
    match app-id="firefox" title="^画中画$"
    match app-id="firefox" title="(Aria2)"
    match title="^画中画$"

    match app-id=r#"jetbrains-studio$"#
    match app-id="org.gnome.Nautilus" title="打开文件"
    open-floating true
}

// steam 通知
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

// picker for helix editor
window-rule {
    match app-id="Alacritty|kitty" title="yazi-picker"
    match app-id="Alacritty|kitty" title="scooter-picker"
    match app-id="Alacritty|kitty" title="lazygit-picker"
    open-floating true
    default-column-width { proportion 0.6; }
    default-window-height { proportion 0.6; }
}

// 歌词窗口浮动左下角
window-rule {
    match app-id="Alacritty|kitty" title="Lyrics"
    open-floating true
    default-floating-position x=32 y=50 relative-to="bottom-right"
    default-column-width { proportion 0.15; }
    default-window-height { proportion 0.3; }
}

// 取色器
window-rule {
    match app-id="com.github.finefindus.eyedropper" title="Eyedropper"
    open-floating true
    default-floating-position x=132 y=150 relative-to="bottom-right"
    default-column-width { proportion 0.15; }
    default-window-height { proportion 0.4; }
}

// 遮挡 
// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match title="密码"

    block-out-from "screen-capture"
}

// 录制遮挡
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    match app-id="firefox$" title="Google Keep"
    match app-id="firefox$" title="- Gmail "
    match title="密码"

    match app-id=r#"clash-nyanpasu"#
    match app-id=r#"Google-chrome"#
    match app-id=r#"com.obsproject.Studio"# title="设置"
    match app-id=r#"^wechat$"#

    block-out-from "screencast"
}

// 截屏窗口规则
// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

// layer 规则 录制遮挡
// Block out mako notifications from screencasts.
layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}
