window>.powermenu {
  margin: 0.5rem;
  background-color: $bg;
}

.powermenu {
  font-family: "Symbols Nerd Font Mono", "JetBrains Mono Medium";
  font-size: 2.5rem;
  padding: 0.3rem;
  border-radius: 0.5rem;

  &.shutdown {
    color: rgba(211, 47, 47, 1.0);
  }

  &.reboot {
    color: $green;
  }

  &.lock {
    color: $yellow;
  }

  &.suspend {
    color: rgba(244, 81, 30, 1.0);
  }

  &.exit {
    color: $magenta;
  }

  &.close {
    color: lightgreen;
  }

  button {
    background-color: $bg-alt;
    padding: 1.2rem;

    &:hover {
      background-color: lighten($color: $bg-alt, $amount: 4%);
    }
  }
}