// git: 8c938d3ac9f60e2b7ecb601a6b90862937d44a95
//  https://github.com/way-edges/way-edges/blob/master/doc/config/widgets/slider.md
//  https://github.com/ogios/dots/blob/master/way-edges/config.kdl
//


// workspace 切换
workspace {
  ignore-exclusive
  edge "left"
  position "bottom"
  margins{
    bottom "5%"
  }
  layer "overlay"
  monitor "DP-3"
  thickness 30
  length "30%"
  active-increase 0.2
  gap 5
  active-color "#00000000"
  default-color "#333333"
  focus-color "#F4511E"
  hover-color "#FFA726"
   // border-radius 8
  // border-width 3
  focused-only
  preset "niri" {
    // preserve-empty
  }
}

// 音量
slider {
  pinnable
  pin-with-key
  ignore-exclusive
  monitor "*"
  layer "overlay"
  edge "right"
  position "bottom"
  margins {
    bottom "30.0%"
  }
  preview-size 0 // 提示部分
  thickness 35
  border-width 3
  length "15%"
  radius 25
  obtuse-angle 90
  fg-color "#00E676"
  bg-color "#616161"
  border-color "#00E676"
  fg-text-color "#616161"
  bg-text-color "#00E676"
  redraw-only-on-internal-update
  preset "speaker"
}

// 音频输入
slider {
  pinnable
  pin-with-key
  ignore-exclusive
  monitor "*"
  layer "overlay"
  edge "right"
  position "bottom"
  margins{
    bottom "13%"
  }
  preview-size 0 
  thickness 35
  border-width 3
  length "15%"
  radius 25
  obtuse-angle 90
  fg-color "#FF6E40"
  bg-color "#616161"
  border-color "#FF6E40"
  fg-text-color "#616161"
  bg-text-color "#FF6E40"
  redraw-only-on-internal-update
  preset "microphone"
}
