// git: b37be1040003ed37f64c82a0ab2c9a6372721a2c
//  https://github.com/way-edges/way-edges/blob/master/doc/config/widgets/slider.md
//  https://github.com/ogios/dots/blob/master/way-edges/config.kdl
//


// workspace 切换
workspace {
  ignore-exclusive
  edge "left"
  position "bottom"
  layer "overlay"
  monitor "DP-3"
  thickness 30
  length "30%"
  hover-color "#FFA726"
  active-increase 0.2
  focus-color "#F4511E"
  default-color "#333333"
  focused-only
  preset "niri" {
    // preserve-empty
  }
}

slide {
  pinnable
  pin-with-key
  ignore-exclusive
  edge "top"
  monitor "*"
  layer "overlay"
  position "left"
  preview-size 9
  thickness 40
  border-width 3
  length "12.5%"
  radius 10
  obtuse-angle 90
  fg-color "#18A558cc"
  bg-color "#0000"
  border-color "#18A558"
  fg-text-color "#fffa"
  bg-text-color "#fffa"
  redraw-only-on-internal-update
  preset "speaker"
}

slide {
  pinnable
  pin-with-key
  ignore-exclusive
  edge "top"
  monitor "*"
  layer "overlay"
  position "left"
  margins {
    left "12.5%"
  }
  preview-size 9
  thickness 40
  border-width 3
  length "12.5%"
  radius 10
  obtuse-angle 90
  fg-color "#BD93F9cc"
  bg-color "#0000"
  border-color "#BD93F9"
  fg-text-color "#fffa"
  bg-text-color "#fffa"
  redraw-only-on-internal-update
  preset "microphone"
}
